@media (max-width: 768px) {
  Section > .container {
    padding: 16px 0;
    width: 768px;
    padding: 10px 20px;
    /* section > .container {
     
      margin: auto;
      display: block;
    
      padding: 30px 50px;
    } */
    /* margin: auto 0; */
  }
  .banner-img {
    width: auto;
    margin-left: auto;
    margin-left: auto;
    display: block;
    height: 520px;
  }
  .project-box {
    color: #495057;
    /* width: 150px; */
  }
  /* Chinh lai Nav bar, xoa phan giua */

  .nav-between-name,
  .nav-between-title {
    display: none;
    padding: 0;
    margin: 0;
  }
  .nav-between {
    padding: 0;
    margin: 0;
  }
  /* Chinh About */
  .container-personal {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-items: center;
    gap: 15px;
  }
  .target {
    /* display: grid;
    grid-column: 1 /2; */
    width: 250px;

    justify-self: center;
  }

  .personal-info {
    justify-self: center;
    width: 250px;
  }
  /* chinh so thich */
  .icon {
    align-self: center;
    font-size: 1.8em;
    justify-self: end;
    padding-right: 6px;
  }
  .hobbyicon {
    width: 32px;
    height: 32px;
    padding: 4px;
    stroke: #339af0;
    justify-self: center;
    border: 3px solid #339af0;
    border-radius: 50%;
  }
  /* chinh ki nang */
  .level-grey {
    background: #e9ecef;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 25px;
  }
  .level {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 25px;
  }
  /* chinh chung nhan */
  .certificate-box:first-child {
    border-right: 0px solid #d6c08d;
  }
  .certificate-img {
    /* align-self: center; */
  }
  /* text */
  .job-info-title {
    padding-left: 6px;
    padding-top: 6px;
  }
  .job-info-info-name {
    padding-left: 6px;
  }
  .job-info-info-time {
    padding-left: 6px;
  }
  .certificate-text-title {
    font-size: 14px;
    padding-top: 14px;
  }
  .certificate-text-grey {
    font-size: 12px;
    color: #868e96;
  }
  table,
  th,
  tr,
  td {
    font-size: 14px;
  }
  /* chinh hinh anh */
  .project-img {
    width: 80%px;
    max-height: auto;
  }
  .certificate-img {
    width: 50%;
    max-height: auto;
  }
}
